<mat-card class="contact">
    <div class="card">
       <img class="avatar" src="https://scontent.fceb1-3.fna.fbcdn.net/v/t39.30808-1/p320x320/257729137_1294831670952847_6196077164730189645_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=7206a8&_nc_eui2=AeFoJixCDdjAVSwLnTSegySNANayEAsM7RAA1rIQCwztEKWn98VeUQNHFiyXuxIJLBt2ghCaHNd6YWvGN1A5tgzL&_nc_ohc=_EEchVrF_MMAX9I94nX&_nc_oc=AQk9Ld4Lx3NpOrEiKy6p5EDzCJIHSXrXPNQS2k0d4_VmIS9EVZhIWcyjdzOUs8np66E&_nc_ht=scontent.fceb1-3.fna&oh=993cdcf8e129a6e3c59ad38b8f28438d&oe=61B9B20E" alt="">
       <h3 class="title">Kristine Serad<mat-icon>contact_page_outline</mat-icon></h3>
   <div class="info">
       <h4 ><mat-icon aria-hidden="false"  >mail_outline</mat-icon>:KristineSerad06@gmail.com</h4>
       <h4><mat-icon aria-hidden="false" >phone</mat-icon>:0913392812</h4>

       
   </div>
   
   </div>
</mat-card>
